// reusable components

.inputs {
  border-radius: 24px;
  border: none;
  padding: 11.5px 18px;
  font-size: 15px;
  font-weight: 800;
  line-height: 25px;
}

.white {
  color: $white;
}

.black {
  color: $black;
}
