// reusable components

.inputs {
  border-radius: 1.5rem;
  border: 0.125rem solid transparent;
  padding: 0.5938rem 1rem;
  font-size: 0.9375rem;
  font-weight: 800;
  line-height: 1.5625rem;
  transition: 0.3s ease-in;
}

.white {
  color: $white;
}

.black {
  color: $black;
}
