/*----------------------------
      layout
 ----------------------------*/

body {
  background: $black;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $tablet) {
    align-items: unset; //
  }

  @media only screen and (min-width: 100rem) {
    align-items: center;
  }
}

.page-wrapper {
  max-width: 31.25rem;

  @media only screen and (min-width: $tablet) {
    max-width: unset;
  }

  @media only screen and (min-width: 100rem) {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
  }
}

main {
  @media only screen and (min-width: 100rem) {
    position: relative;
  }
}

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0 4.0938rem;

  @media only screen and (min-width: $tablet) {
    justify-content: flex-start;
    margin: 3rem 2.4375rem 4.8125rem;
  }

  @media only screen and (min-width: $desktop) {
    margin: 5.0625rem 10.3125rem 0;
  }
}

/*----------------------------
      hero section 
----------------------------*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $desktop) {
    width: clamp(33.75rem, 37.5vw, 83.875rem);
    margin: 0 auto;
  }

  &__heading {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 2.9688rem 1.5rem 1.4375rem;

    @media only screen and (min-width: $desktop) {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    span {
      color: $cyan;
    }
  }

  &__paragraph {
    text-align: center;
    color: $gray;
    margin: 0 1.5rem 2rem;

    @media only screen and (min-width: $tablet) {
      max-width: 43.5rem;
    }

    @media only screen and (min-width: $desktop) {
      margin: 0 0 4rem;
    }
  }

  @media only screen and (min-width: $tablet) {
    background: url(../assets/bg-hero-squiggle.svg) no-repeat;
    background-size: 21.0625rem;
    background-position: center;
    padding: 8.5625rem 8.0625rem 0;
  }

  @media only screen and (min-width: $desktop) {
    background: url(../assets/bg-hero-squiggle.svg) no-repeat;
    background-size: 34rem 23.5625rem;
    background-position: center top 6.1875rem;
    height: 23.75rem;
    // top: -0.0625rem;
  }
}

.hero::before {
  width: 100%;
  content: " ";
  background: url(../assets/illustration-hero-mobile.png) no-repeat;
  background-size: clamp(25.625rem, 109.3333333333vw, 34.1667rem);
  height: clamp(14.5625rem, 62.1333333333vw, 19.4156rem);

  @media only screen and (min-width: $tablet) {
    background: url(../assets/illustration-hero-left.svg) no-repeat;
    background-size: 19.625rem;
    position: absolute;
    left: -10.5625rem;
    height: 22.25rem;
  }

  @media only screen and (min-width: $desktop) {
    left: -3.3125rem;
    background-size: 25.5rem;
    height: 28.6875rem;
    z-index: -1;
    margin: -1.0625rem 0 0;
  }

  @media only screen and (min-width: $max-width) {
    left: -10.3125rem;
  }
}

.hero::after {
  @media only screen and (min-width: $tablet) {
    width: 100%;
    content: " ";
    position: absolute;
    background: url(../assets/illustration-hero-right.svg) no-repeat;
    background-size: 19.8125rem;
    background-position: right;
    right: -10.6875rem;
    height: 22.25rem;
  }

  @media only screen and (min-width: $desktop) {
    right: -3.75rem;
    height: 27.75rem;
    background-size: 24.75rem;
    z-index: -1;
    margin: -0.5625rem 0 0;
  }

  @media only screen and (min-width: $max-width) {
    right: -10.3125rem;
  }
}

/*----------------------------
      features section 
----------------------------*/
.features {
  margin: 9rem 1.5rem 0;
  display: grid;
  row-gap: 3.5rem;
  justify-items: center;

  @media only screen and (min-width: $tablet) {
    grid-template-columns: 3.625rem 1fr 3.625rem;
    margin: 6.8125rem clamp(6.0625rem, 12.6302083333vw, 12.6302083333vw) 8.8125rem;
  }

  @media only screen and (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 1fr 3rem;
    margin: 16.125rem auto 0;
    max-width: clamp(69.375rem, 77.0833333333vw, 77.0625rem);
    row-gap: 0;
    column-gap: 1.875rem;
  }

  &__feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $tablet) {
      flex-direction: row;
      gap: 3.5rem;
    }

    @media only screen and (min-width: $desktop) {
      flex-direction: column;
      width: clamp(15.9375rem, 17.7083333333vw, 17.8125rem);
      align-items: flex-start;
      gap: 3rem;
    }
  }

  &__feature-container--passions,
  &__feature-container--lifestyle {
    grid-column: 2/-1;

    @media only screen and (min-width: $desktop) {
      grid-column: unset;
      grid-row: 1/3;
    }
  }

  &__feature-container--freedom,
  &__feature-container--work {
    grid-column: 1/3;

    @media only screen and (min-width: $desktop) {
      grid-column: unset;
      grid-row: 2/4;
    }
  }

  &__image {
    background: #093f68;
    border-radius: 2.8125rem;
    width: 7.5rem;
    height: 7.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $desktop) {
      width: 10rem;
      height: 10.25rem;
    }
  }

  &__icon-cat {
    width: 4.125rem;
    height: 5rem;

    @media only screen and (min-width: $desktop) {
      width: 5.5rem;
      height: 6.75rem;
    }
  }

  &__icon-jar {
    width: 3.5rem;
    height: 4.1875rem;

    @media only screen and (min-width: $desktop) {
      width: 4.625rem;
      height: 5.5625rem;
    }
  }

  &__icon-cocktail {
    width: 3.75rem;
    height: 4.8125rem;

    @media only screen and (min-width: $desktop) {
      width: 5rem;
      height: 5.875rem;
    }
  }

  &__icon-car {
    width: 4.875rem;
    height: 3.5rem;

    @media only screen and (min-width: $desktop) {
      width: 6.5rem;
      height: 4.625rem;
    }
  }
  &__text {
    text-align: center;

    @media only screen and (min-width: $tablet) {
      text-align: left;
      width: clamp(21.25rem, 44.2708333333vw, 6.9375rem);
    }

    @media only screen and (min-width: $desktop) {
      width: unset;
    }
  }

  &__heading {
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5625rem;
    margin: 2rem 0 0.6875rem;

    @media only screen and (min-width: $tablet) {
      margin: 0 0 1.5rem;
    }
  }

  &__paragraph {
    color: $gray;
  }
}

/*----------------------------
      pricing section 
----------------------------*/

.pricing {
  margin: 8.8125rem 1.5rem 0;
  text-align: center;

  @media only screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: $desktop) {
    margin: 12.625rem 1.5rem 0;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2.0625rem;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      font-size: 2rem;
      line-height: 2.75rem;
    }
  }

  &__paragraph {
    color: $gray;
    margin: 1.4375rem 0 3.5rem;
    text-align: center;

    @media only screen and (min-width: $tablet) {
      width: clamp(33.75rem, 70.3125vw, 70.3125vw);
    }

    @media only screen and (min-width: $desktop) {
      width: clamp(33.75rem, 37.5vw, 37.5vw);
      margin: 1.1875rem 0 6.875rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4.1875rem;
    text-align: left;
    position: relative;

    @media only screen and (min-width: $tablet) {
      width: clamp(27.8125rem, 57.9427083333vw, 57.9427083333vw);
    }

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      width: clamp(57.5rem, 63.8888888889vw, 100rem);
      gap: 1.875rem;
    }
  }

  &__icon-free {
    position: absolute;
    width: 2.875rem;
    top: -1.4375rem;
    left: 2.3125rem;
  }

  &__icon-charge {
    position: absolute;
    width: 3.1875rem;
    top: -2.0625rem;
    left: 2.3125rem;
  }

  &__item {
    border-radius: 0.5rem;
    padding: 3.0625rem 1.875rem 2rem;
    position: relative;

    @media only screen and (min-width: $desktop) {
      flex: 50%;
      padding: 3.0625rem 2.3125rem 2.875rem;
    }
  }

  &__item--free {
    background: $medium-blue;

    @media only screen and (min-width: $desktop) {
      margin: 0.75rem 0;
    }
  }

  &__item--charge {
    background: $cyan;
    position: relative;

    @media only screen and (min-width: $desktop) {
      padding: 3.75rem 2.3125rem 2.875rem;
    }
  }

  &__heading--two {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }

  &__paragraph--two {
    margin: 1.1875rem 0 1.625rem;
    opacity: 0.6;
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__feature {
    display: flex;
    align-items: baseline;
    gap: 0.9575rem;
  }

  &__amount {
    display: flex;
    align-items: center;
    gap: 0.4688rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.4375rem;
    margin: 0 0 1.1875rem;
  }

  &__perMonth {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    font-weight: 500;
  }
}

.cta {
  display: flex;
  align-items: cener;
  flex-direction: column;

  margin: 9rem 0 10.25rem;
  padding: 1.5rem;
  background: url(../assets/bg-footer-squiggle.svg) no-repeat;
  background-size: 36.5rem 5rem;
  background-position: top center;

  @media only screen and (min-width: $tablet) {
    background-size: 63.875rem 9rem;
    background-position: top right -0.875rem;
  }

  @media only screen and (min-width: $desktop) {
    // display: flex;
    flex-direction: column;
    align-items: center;

    background-size: 104.0625rem 14.0625rem;
    background-position: top 0.6875rem left -13.875rem;
    height: 14.25rem;
    padding: 3.75rem 0 10.25rem;
  }

  &__heading {
    font-size: 1.5rem;
    line-height: 2.0625rem;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      font-size: 2rem;
      line-height: 2.75rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.9375rem 0 0;

    @media only screen and (min-width: $tablet) {
      position: relative;
      flex-direction: row;
      gap: 1rem;
      margin: 1.8125rem auto 0;
    }

    @media only screen and (min-width: $desktop) {
      margin: 2.6875rem auto 0;
    }
  }

  &__input {
    background: $medium-blue;
    color: white;

    @media only screen and (min-width: $tablet) {
      margin: 0;
      width: clamp(17.75rem, 36.6666666667vw, 41.6666666667vw);
    }

    @media only screen and (min-width: $desktop) {
      width: clamp(17.6875rem, 17.75rem, 43.75rem);
    }
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &__error-message {
    display: none;
    font-size: 0.75rem;
    line-height: 1.5625rem;
    letter-spacing: 0rem;
    text-align: left;
    color: $red;
    margin: -0.75rem 0 -0.75rem 1.125rem;

    @media only screen and (min-width: $tablet) {
      position: absolute;
      top: 3.5rem;
      margin: 0;
      left: 1.125rem;
    }
  }

  &__form.error &__input {
    border: 0.125rem solid $red;
  }

  &__button {
    background: $cyan;
    color: $black;

    @media only screen and (min-width: $tablet) {
      width: clamp(8.75rem, 18.2291666667vw, 18.2291666667vw);
    }

    @media only screen and (min-width: $desktop) {
      width: clamp(8.75rem, 9.7222222222vw, 18.75rem);
    }
  }

  &__button:hover {
    background: transparent;
    border: 0.125rem solid $cyan;
    color: white;
  }
}
