/*----------------------------
      layout
 ----------------------------*/

body {
  background: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  max-width: 500px;

  @media only screen and (min-width: $tablet) {
    max-width: unset;
  }
}

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: center;
  margin: 40px 0 65.5px;

  @media only screen and (min-width: $tablet) {
    justify-content: flex-start;
    margin: 48px 39px 77px;
  }
}

/*----------------------------
      hero section 
----------------------------*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin: 47.5px 24px 23px;

    span {
      color: $cyan;
    }
  }

  &__paragraph {
    text-align: center;
    color: $gray;
    margin: 0 24px 32px;
  }

  @media only screen and (min-width: $tablet) {
    background: url(../assets/bg-hero-squiggle.svg) no-repeat;
    background-size: 337px;
    background-position: center;
    padding: 0 129px 0;
  }
}

.hero::before {
  width: 100%;
  content: " ";
  background: url(../assets/illustration-hero-mobile.png) no-repeat;
  // background-image: url(/img/border-left3.png);
  background-size: clamp(410px, 109.3333333333vw, 546.667px);
  height: clamp(233px, 62.1333333333vw, 310.65px);

  @media only screen and (min-width: $tablet) {
    background: url(../assets/illustration-hero-left.svg) no-repeat;
    background-size: 314px;
    position: absolute;
    left: -169px;
    height: 356px;
  }
}

.hero::after {
  @media only screen and (min-width: $tablet) {
    width: 100%;
    content: " ";
    position: absolute;
    background: url(../assets/illustration-hero-right.svg) no-repeat;
    background-size: 317px;
    background-position: right;
    right: -171px;
    height: 356px;
  }
}

/*----------------------------
      features section 
----------------------------*/
.features {
  margin: 144px 24px 0;
  display: grid;
  gap: 56px;

  justify-items: center;

  &__feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    background: #093f68;
    border-radius: 45px;
    width: 120px;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 66px;
      height: 80px;
    }
  }

  &__heading {
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    text-align: center;
    margin: 32px 0 11px;
  }

  &__paragraph {
    text-align: center;
    color: $gray;
  }
}

/*----------------------------
      pricing section 
----------------------------*/

.pricing {
  margin: 141px 24px 0;
  text-align: center;

  &__heading {
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    text-align: center;
  }

  &__paragraph {
    color: $gray;
    margin: 27px 0 56px;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 67px;
    text-align: left;
    position: relative;
  }

  &__icon-free {
    position: absolute;
    width: 46px;
    top: -23px;
  }

  &__icon-charge {
    position: absolute;
    width: 51px;
    top: -33px;
  }

  &__item {
    border-radius: 8px;
    padding: 49px 30px 32px;
  }

  &__item--free {
    background: $medium-blue;
  }

  &__item--charge {
    background: $cyan;
    position: relative;
  }

  &__heading--two {
    font-size: 18px;
    line-height: 25px;
  }

  &__paragraph--two {
    margin: 19px 0 26px;
    opacity: 0.6;
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__feature {
    display: flex;
    align-items: baseline;
    gap: 15.32px;
  }

  &__amount {
    display: flex;
    align-items: center;
    gap: 7.5px;
    font-size: 40px;
    font-weight: 800;
    line-height: 55px;
    margin: 0 0 19px;
  }

  &__perMonth {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
  }
}

.cta {
  margin: 144px 24px 164px;

  &__heading {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    background: #093f68;
    margin: 31px 0 24px;

    color: rgba(255, 255, 255, 0.4);
  }

  &__error-message {
    display: none;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: $red;
  }

  &__button {
    background: $cyan;
    color: $black;
  }
}
